/Win32/Lives2D/Lives2D.VC.db
/Win32/Lives2D/Debug/Lives2D.tlog
/Win32/Lives2D/Debug/Helper.obj
/Win32/Lives2D/Debug/Image.obj
/Win32/Lives2D/Debug/WinMain.obj
/Win32/Lives2D/Debug/Lives2D.exe
/Win32/Lives2D/Debug/Lives2D.ilk
/Win32/Lives2D/Debug/Lives2D.log
/Win32/Lives2D/Debug/Lives2D.obj
/Win32/Lives2D/Debug/Lives2D.pdb
/Win32/Lives2D/Debug/Texture2D.obj
/Win32/Lives2D/Debug/vc140.idb
/Win32/Lives2D/Debug/vc140.pdb
/Libs/tolua++/exe/Demo/Demo/Demo.VC.db
/Win32/Lives2D/Debug
/Android/chinkbird/gen
/Android/chinkbird/bin
/Android/lives2dLibrary/gen
/Android/lives2dLibrary/bin
/Android/lives2dLibrary/obj
/Src/Tools/tolua++.exe
