<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>empty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E1B8EC37194826956A8165</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0912E8F5C4794569AE6DEB91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>096305EB05C0435B9F36D1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A07844205454105AEC849B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10BE804F9626452EB0DC7332</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>136489A87FCC4905924E4F8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14925F6F99A44E4CB72A0559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>401A46211A5D4F0C8369D784</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47B21B456FF9471184AE173C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49B8A0BCAAA640119603130E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DAABBB8DF0F4A2F9A3A5B5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F2B110151D6424BA0FDBF06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63E8BD77D5E047CF940F2CD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>66DB52B15BF1473688838B85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE4024E212E4331A907167A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D3F46B2D6614A319293E18D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0C5810E5774AABABF21D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>98ECEC7CA2614C0EB062B67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A69E950B6AF47AB8C5948D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C7EFB53D679402F9FE4C736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AEE18ADE60D944B1AA452F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3456DE259814F90BB85223F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7159DAC6C1468C9C70C7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6D4A85914F34DC7A606B9D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8DA37E275B14B2BA8484234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDCC70D531CD4A64B279A737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D35B519D6F3B4CFFBB0BBDD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA8B1F0CAFFC47F6A576EEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3B80388106C4E9B9B3F7723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5DF120CB6C4778A184E241</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49D7C94DC6F4065B2F68648</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE6F6CBEE1E643EC82AD54C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
